.grid {
    width: auto;
}

/* Page Styling*/

.row {
    display: flex;
    flex-wrap: wrap;
}

/* Data Pages */

.main-column {
    flex: 70%;
    padding: 15px;
    align-items: center;
    flex-direction: column;
}

.side-column {
    flex: 30%;
    padding: 10px;
}

/* Home and About Pages */

.center-column {
    flex: 60%;
    padding: 15px;
    align-items: center;
    flex-direction: column;
}

.left-column {
    flex: 15%;
    padding: 10px;
}

.right-column {
    flex: 15%;
    padding: 10px;
}

/*Responsive containers*/

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    min-width: 800px;
  }
  
  /* Responsive layout - makes a one column layout instead of a two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }

/* Component Specific Styling */

/* Element Styling */

#pageHeader {
    text-align: center;
}

#pageIcon {
    height: 100px;
    width: 100px;
}

#pageText {
    margin: 20px;
}

#welcomeText {
    margin: 20px;
}

#siderIcon {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    margin: 15px;
}

#headShot {
    height: 300px;
    width: 300px;
    margin: 20px 20px 20px 20px;
}

#contactIcon {
    height: 50px;
    width: 50px;
}
